report/FCTest/chart/web/schemas/chartDefine.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (http://www.altova.com) by wangqzh (yonyou) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="chartDefine">
		<xs:annotation>
			<xs:documentation>统计图封装定义</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="icon"/>
				<xs:element ref="propertyGroupDefines"/>
				<xs:element name="defaultSetting" type="defaultSettingdefine" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="nodatadefaultSetting" type="defaultSettingdefine"  minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="apiDefines"/>
				<xs:element ref="eventDefines"/>
			</xs:sequence>
			<xs:attribute name="category" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="code" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="index" type="xs:string" use="required"/>
			<xs:attribute name="width" type="xs:string" use="required"/>
			<xs:attribute name="height" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="propertyGroupDefine" type="propertyGroupDefineType"/>
	<xs:element name="propertyDefine">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ConstraintTerm" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="value" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="PGAttributes"/>
			<xs:attribute name="range" type="xs:string" use="optional"/>
			<xs:attribute name="repeatable" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="generate" type="xs:boolean" use="optional" default="true"/>
			<xs:attribute name="hide" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="isNLS" type="xs:boolean" use="optional" default="false"/>
			<xs:attribute name="relativeChange" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType>
			<xs:attribute name="code" type="xs:string" use="optional"/>
			<xs:attribute name="refCode" type="xs:string" use="required"/>
			<xs:attribute name="mulCode" type="xs:string"/>
			<xs:attribute name="value" type="xs:string" use="required"/>
			<xs:attribute name="generate" type="xs:boolean" use="optional" default="true"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="parameter">
		<xs:complexType/>
	</xs:element>
	<xs:element name="eventDefines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eventDefine" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="input" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="typeClassName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="apiDefines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="apiDefine" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="input" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="typeClassName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="output">
								<xs:complexType>
									<xs:attribute name="typeClassName" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="includeApis" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datasets">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dataset" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="header" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cell" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="code" type="xs:string" use="required"/>
												<xs:attribute name="mulCode" type="xs:string"/>
												<xs:attribute name="name" type="xs:string" use="required"/>
												<xs:attribute name="type" type="xs:string" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="body" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="row" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="cell" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="columnSimpleType">
																	<xs:attribute name="code" type="xs:string"/>
																	<xs:attribute name="refCode" type="xs:string" use="required"/>
																	<xs:attribute name="isAll">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="true"/>
																				<xs:enumeration value="false"/>
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																</xs:extension>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="code" type="xs:string"/>
												<xs:attribute name="name" type="xs:string"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="code" type="xs:string"/>
									<xs:attribute name="name" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="mulCode" type="xs:string"/>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="PGAttributes">
		<xs:attribute name="code" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="editor" type="xs:string" use="optional"/>
		<xs:attribute name="description" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	<xs:complexType name="defaultSettingdefine">
		
			<xs:sequence>
				<xs:element name="propertyGroup" type="propertyGroupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="styleGroup" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="refCode" type="xs:string" use="required"/>
						<xs:attribute name="applyObject" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="userDivisionPropertyGroup" type="propertyGroupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="autoDivisionPropertyGroup" type="propertyGroupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="categoriesPropertyGroup" type="propertyGroupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="warningPropertyGroup" type="propertyGroupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="rangeColorPropertyGroup" type="propertyGroupType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="dataBindingRefGroup" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="refCode" type="xs:string" use="required"/>
						<xs:attribute name="datasetCode" type="xs:string" use="required"/>
						<xs:attribute name="columnCode" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="categorieAxises" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="category" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="datasetCode" type="xs:string" use="required"/>
									<xs:attribute name="columnCode" type="xs:string" use="required"/>
									<xs:attribute name="order" type="xs:string" use="optional"/>
									<xs:attribute name="hasOperate" use="optional" default="false">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="true"/>
												<xs:enumeration value="false"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="seriesAxises">
					<xs:complexType>
						<xs:choice>
							<xs:element name="series" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="optional"/>
									<xs:attribute name="datasetCode" type="xs:string" use="required"/>
									<xs:attribute name="columnCode" type="xs:string" use="required"/>
									<xs:attribute name="isMeasure" use="optional" default="true">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="false"/>
												<xs:enumeration value="true"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="order" type="xs:string" use="optional"/>
									<xs:attribute name="hasOperate" use="optional" default="false">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="true"/>
												<xs:enumeration value="false"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="xySeries" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="datasetCode" type="xs:string" use="required"/>
									<xs:attribute name="xcolumnCode" type="xs:string" use="required"/>
									<xs:attribute name="ycolumnCode" type="xs:string" use="required"/>
									<xs:attribute name="isMeasure" use="optional" default="true">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="false"/>
												<xs:enumeration value="true"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="order" type="xs:string" use="optional"/>
									<xs:attribute name="hasOperate" use="optional" default="false">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="true"/>
												<xs:enumeration value="false"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="xyzSeries" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="datasetCode" type="xs:string" use="required"/>
									<xs:attribute name="xcolumnCode" type="xs:string" use="required"/>
									<xs:attribute name="ycolumnCode" type="xs:string" use="required"/>
									<xs:attribute name="zcolumnCode" type="xs:string" use="required"/>
									<xs:attribute name="namecolumnCode" type="xs:string" use="required"/>
									<xs:attribute name="isMeasure" use="optional" default="true">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="false"/>
												<xs:enumeration value="true"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="order" type="xs:string" use="optional"/>
									<xs:attribute name="hasOperate" use="optional" default="false">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="true"/>
												<xs:enumeration value="false"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="stackSeries" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="item" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="code" type="xs:string"/>
												<xs:attribute name="datasetCode" type="xs:string" use="required"/>
												<xs:attribute name="columnCode" type="xs:string" use="required"/>
												<xs:attribute name="isMeasure" use="optional" default="true">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="false"/>
															<xs:enumeration value="true"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="order" type="xs:string" use="optional"/>
												<xs:attribute name="hasOperate" use="optional" default="false">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="true"/>
															<xs:enumeration value="false"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element ref="datasets"/>
			</xs:sequence>
			<xs:attribute name="themeCode" type="xs:string" use="required"/>
		
	</xs:complexType>
	<xs:element name="propertyGroupDefines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="propertyGroupDefine" maxOccurs="unbounded"/>
				<xs:element name="dataBindingGroupDefine" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="propertyGroupDefineType">
								<xs:attribute name="bindingGroup" type="xs:string" use="required"/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="styleGroupDefine" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="applyObject" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="code" type="xs:string" use="required"/>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="includeGroups" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="code" type="xs:string" use="required"/>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="type" type="xs:string" use="required"/>
						<xs:attribute name="rawType" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="includeGroups"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="icon">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="littleIcon" type="xs:string"/>
				<xs:element name="mouseOverIcon" type="xs:string"/>
				<xs:element name="pressedIcon" type="xs:string"/>
				<xs:element name="bigIcon" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="columnSimpleType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="propertyGroupDefineType">
		<xs:sequence>
			<xs:element ref="propertyDefine" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="PGAttributes"/>
		<xs:attribute name="assorrtment" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="property"/>
					<xs:enumeration value="style"/>
					<xs:enumeration value="trendline"/>
					<xs:enumeration value="vline"/>
					<xs:enumeration value="dataset"/>
					<xs:enumeration value="series"/>
					<xs:enumeration value="category"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="repeatable" type="xs:boolean"/>
		<xs:attribute name="relativeChange" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="propertyGroupType">
		<xs:sequence>
			<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="refCode" type="xs:string" use="required"/>
	</xs:complexType>
</xs:schema>
